@import '../settings/mixins';

.footer {
  @include wrapped(1184px);
  color: white;
  background-color: var(--brand-01);
  font-size: 14px;
  @include mobile-wrapped;

  p {
    font-size: inherit;
  }
}

.footer-info,
.footer-legals {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.footer-info {
  justify-content: space-between;

  @include below(580px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-brand {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  justify-content: space-between;

  @include below(580px) {
    .footer-logo {
      margin-bottom: 1rem;
    }
  }
}

.footer-logo {
  width: 150px;
  display: flex;

  img {
    width: 100%;
  }
}

.footer-direction {
  align-self: flex-end;
  line-height: 1.5;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .socialMedia {
    margin-bottom: 1rem;
  }

  @include below(580px) {
    margin-top: 1rem;
  }
}

.footer-brand,
.footer-contact {
  @include below(580px) {
    align-items: center;
  }
}

.footer-tel {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 0;
  text-decoration: none;
}

.footer-legals {
  align-items: center;
  border-top: 1px solid var(--brand-02);

  p {
    line-height: 1;
  }

  @include above(730px) {
    .link + .link {
      margin-left: 2rem;
    }
    p {
      margin-right: auto;
    }
  }

  @include below(730px) {
    flex-direction: column-reverse;
    align-items: center;

    * + * {
      margin-bottom: 1rem;
    }
  }
}
