.mainHero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  @include wrapped(1184px);
  padding-top: 80px;
  overflow: hidden;
  @include mobile-wrapped;

  &::before {
    content: '';
    position: absolute;
    width: 420px;
    height: 420px;
    background-color: var(--brand-02);
    border-radius: 1rem;
    z-index: -100;
    left: 70%;
    transform: rotate(-19deg);
  }

  &-content {
    max-width: 610px;
  }

  .subtitle {
    margin-top: 1.5rem;
  }
}
