.mainNav {
  margin-left: auto;
  display: flex;
  align-items: center;

  &-link,
  .socialMedia-icon {
    color: var(--brand-02);
    text-decoration: none;
    transition: 200ms all ease-in-out;
    opacity: 0.8;
  }

  &-link {
    font-size: 1rem;
    font-weight: 700;
    line-break: 1;

    &:hover,
    &.isActive {
      color: var(--brand-01);
      opacity: 1;
    }

    & + * {
      margin-left: 2rem;
    }
  }
}
