@import '../settings/mixins';

.mainHero {
  position: relative;
  @include wrapped(1184px);
  min-height: 80vh;
  display: flex;
  align-items: center;

  &-content {
    max-width: 590px;
  }

  .subtitle {
    margin-top: 1.5rem;
  }

  &-bg-1 {
    position: absolute;
    left: 75%;
    width: 420px;
    height: 420px;
    background-color: var(--brand-02);
    border-radius: 1rem;
    z-index: -100;
    transform: rotate(-19deg);
  }
}
