@import '../settings/mixins.scss';

.postFeed {
  @include wrapped(1184px);
  padding-bottom: 6rem;
}

.postFeed-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;

  .postPreview:nth-child(1),
  .postPreview:nth-child(n + 4) {
    grid-column-end: span 2;
  }
}
