.postPreview {
  display: flex;
  background-color: var(--brand-01);
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 320px;
}

.postPreview-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  align-self: stretch;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(#022a3b, 0.8) 0%,
      rgba(#022a3b, 0) 60%
    );
  }
}

.postPreview-title {
  margin-top: auto;
  font-size: var(--text-scale-3);
  z-index: 100;
  line-height: 1.25;
}
