.postFeed {
  @include wrapped(1184px);
  padding-bottom: 6rem;
  @include mobile-wrapped;
}

.postFeed-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;

  @include above(1000px) {
    grid-template-columns: repeat(3, 1fr);

    .postPreview:nth-child(1),
    .postPreview:nth-child(n + 4) {
      grid-column-end: span 2;
    }
  }
}
