.socialMedia {
  display: flex;
  align-items: center;
  color: var(--brand-02);

  &-icon {
    transition: 200ms all ease-in-out;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;

    &:hover {
      color: var(--brand-01);
      opacity: 1;
    }

    & + & {
      margin-left: 2rem;
    }
  }

  &--isWhite {
    color: white;
  }

  &--isWhite &-icon:hover {
    color: var(--brand-02);
  }
}
