.tag {
  background-color: white;
  font-size: var(--text-scale-000);
  font-weight: 800;
  color: var(--brand-02);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  line-height: 1;
}
