:root {
  /* Brand colors */
  --brand-01: #022a3b;
  --brand-01-dark: #003b54;
  --brand-01-light: #033C54;
  --brand-02: #00aaff;
  --brand-02-dark: #0088cc;
  --brand-02-light: #00AAFF;
  --brand-03: #ff5a00;
  --brand-03-dark: #e65100;
  --brand-03-light: #FF5A00;
  --brand-04: #ffc200;
  --brand-04-dark: #e6af00;
  --brand-04-light: #FFC200;

  --gray-100: #022A3B;
  --gray-90: #1B3F4E;
  --gray-80: #355462;
  --gray-70: #4D6975;
  --gray-60: #677F89;
  --gray-50: #80949D;
  --gray-40: #9AAAB1;
  --gray-30: #B3BFC4;
  --gray-20: #CCD4D8;
  --gray-10: #E5E9EB;
  --gray-5: #F2F4F5;
}