:root {
  --font-primary: 'Galano Grotesque Alt', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-right: 4px 0 8px 0 rgba(0, 0, 0, 0.14);
  --typeScale-unit: 1rem;
  --spaceScale-unit: 1rem;
  --border-radius: var(--space-xxs);
}
